### Revising the Select Query I

In [ ]:
select * from CITY where POPULATION>100000 and COUNTRYCODE='USA';

### Revising the Select Query II

In [ ]:
select NAME from CITY where POPULATION>120000 and COUNTRYCODE='USA';

### Select All

In [ ]:
select * from CITY;

### Select By ID

In [ ]:
select * from CITY where ID=1661;

### Japanese Cities' Attributes

In [ ]:
select * from CITY where COUNTRYCODE='JPN';

### Japanese Cities' Names

In [ ]:
select NAME from CITY where COUNTRYCODE='JPN';

### Weather Observation Station 1

In [ ]:
select CITY, STATE from STATION;

### Weather Observation Station 3

In [ ]:
select distinct CITY from STATION where mod(ID, 2) = 0; # mod in DB2

### Weather Observation Station 4

In [ ]:
select count(CITY)-count(distinct CITY) from STATION;

### Weather Observation Station 5

In [ ]:
select CITY, length(CITY) from STATION order by length(CITY) asc, CITY limit 1;
select CITY, length(CITY) from STATION order by length(CITY) desc, CITY limit 1;

### Weather Observation Station 6

In [ ]:
select distinct CITY from STATION where lower(left(CITY, 1)) in ('a', 'e', 'i', 'o', 'u');

### Weather Observation Station 7

In [ ]:
select distinct CITY from STATION where lower(right(CITY, 1)) in ('a', 'e', 'i', 'o', 'u');

### Weather Observation Station 8

In [ ]:
select distinct CITY from STATION where lower(left(CITY, 1)) in ('a', 'e', 'i', 'o', 'u') and lower(right(CITY, 1)) in ('a', 'e', 'i', 'o', 'u');

### Weather Observation Station 9

In [ ]:
select distinct CITY from STATION where lower(left(CITY, 1)) not in ('a', 'e', 'i', 'o', 'u');

### Weather Observation Station 10

In [ ]:
select distinct CITY from STATION where lower(right(CITY, 1)) not in ('a', 'e', 'i', 'o', 'u');

### Weather Observation Station 11

In [ ]:
select distinct CITY from STATION where lower(left(CITY, 1)) not in ('a', 'e', 'i', 'o', 'u') or lower(right(CITY, 1)) not in ('a', 'e', 'i', 'o', 'u');

### Weather Observation Station 12

In [ ]:
select distinct CITY from STATION where lower(left(CITY, 1)) not in ('a', 'e', 'i', 'o', 'u') and lower(right(CITY, 1)) not in ('a', 'e', 'i', 'o', 'u');

### Higher Than 75 Marks

In [ ]:
select NAME from STUDENTS where marks > 75 order by right(NAME, 3) asc, ID asc;

### Employee Names

In [ ]:
select NAME from EMPLOYEE order by NAME asc;

### Employee Salaries

In [ ]:
select NAME from EMPLOYEE where SALARY > 2000 and MONTHS < 10 order by EMPLOYEE_ID asc;